{% extends 'generic/_base.html' %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed with type=object|meta:"verbose_name" name=object vrf=object.vrf|default:"" %}
Configure DNS views for {{ type }} {{ name }} {{ vrf }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
    <div class="tab-pane show active" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">

    <form action="" method="post" enctype="multipart/form-data" class="object-edit mt-5">
    {% csrf_token %}

    <div id="form_fields" hx-disinherit="hx-select hx-swap">
    {% if inherited_from %}
        <div class="card">
            <table class="table table-hover attr-table">
                <th>{% trans "Views inherited from prefix" %} {{ inherited_from }} {% if inherited_from.vrf %}[{{ inherited_from.vrf }}] {% endif %}</th>
                {% for view in inherited_views %}
                    <tr><td>{{ view|linkify }}</td><td>{{ view.description }}</td></tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% block form %}
    {% include 'htmx/form.html' %}
    {% endblock form %}
    </div>

    <div class="text-end my-3">
    {% block buttons %}
        <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
        <button type="submit" name="_update" class="btn btn-primary">{% trans "Save" %}</button>
    {% endblock buttons %}
    </div>
    </form>
    </div>
{% endblock content %}

{% block modals %}
{% include 'inc/htmx_modal.html' with size='lg' %}
{% endblock %}
