{% load render_table from django_tables2 %}
{% load perms %}
{% load i18n %}

{% if perms.netbox_dns.view_view %}
    {% if assigned_views %}
        <div class="col col-md-12">
            <div class="card">
                {% if assigned_views.rows|length == 1 %}
                    <h2 class="card-header">{% trans "Assigned DNS View" %}</h2>
                {% else %}
                    <h2 class="card-header">{% trans "Assigned DNS Views" %}</h2>
                {% endif %}
                <div class="table-responsive">
                    {% render_table assigned_views 'inc/table.html' %}
                </div>
            </div>
        </div>
    {% elif inherited_views %}
        <div class="col col-md-12">
            <div class="card">
                {% if inherited_views.rows|length == 1 %}
                    <h2 class="card-header">{% trans "Inherited DNS View" %}</h2>
                {% else %}
                    <h2 class="card-header">{% trans "Inherited DNS Views" %}</h2>
                {% endif %}
                <div class="table-responsive">
                    {% render_table inherited_views 'inc/table.html' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
