[tool.poetry]
name = "netbox-plugin-dns"
version = "0.19.0"
description = "NetBox DNS is a NetBox plugin for managing DNS data."
authors = ["Peter Eckel <pe-netbox-dns@hindenburgring.com>"]
homepage = "https://github.com/peteeckel/netbox-plugin-dns"
repository = "https://github.com/peteeckel/netbox-plugin-dns"
license = "MIT"
readme = "README.md"
packages = [{include = "netbox_dns"}]
exclude = ["netbox_dns/tests/*"]
keywords = ["netbox", "netbox-plugin", "dns"]

[tool.poetry.dependencies]
python = "^3.8"
dnspython = "^2.2.1"

[tool.poetry.group.dev.dependencies]
pytest = ">7.2.0"
black = "^23.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
