{% extends 'netbox_dns/zone/base.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="card">
    <h5 class="card-header">{% trans "Domain Registration" %}</h5>
    <table class="table table-hover attr-table">
        <tr>
            <th scope="row">{% trans "Registrar" %}</th>
            <td>{{ object.registrar|linkify|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Registry Domain ID" %}</th>
            <td>{{ object.registry_domain_id|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Expiration Date" %}</th>
            <td>{{ object.expiration_date|placeholder }}</td>
        </tr>
        {% if expiration_warning %}
            <tr>
                <th class="text-warning" scope="row">{% trans "Warning" %}</th>
                <td class="text-warning">{{ expiration_warning }}</td>
            </tr>
        {% elif expiration_error %}
            <tr>
                <th class="text-danger" scope="row">{% trans "Error" %}</th>
                <td class="text-danger">{{ expiration_error }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row">{% trans "Domain Status" %}</th>
            <td>{% badge object.get_domain_status_display bg_color=object.get_domain_status_color %}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Registrant" %}</th>
            <td>{{ object.registrant|linkify|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Administrative Contact" %}</th>
            <td>{{ object.admin_c|linkify|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Technical Contact" %}</th>
            <td>{{ object.tech_c|linkify|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Billing Contact" %}</th>
            <td>{{ object.billing_c|linkify|placeholder }}</td>
        </tr>
    </table>
    </div>
</div>
{% endblock %}

{% block modals %}
    {{ block.super }}
{% endblock modals %}
