{% extends 'generic/object.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">{% trans "DNSSEC Policy" %}</h5>
                <table class="table table-hover attr-table">
                    {% if object.description %}
                    <tr>
                        <th scope="row">{% trans "Description" %}</th>
                        <td style="word-break:break-all;">{{ object.description }}</td>
                    </tr>
                    {% endif %}
                    {% if object.keys %}
                        {% for key in object.keys %}
                            <tr>
                                <th scope="row">{% trans "Key" %}</th>
                                <td>{{ key|linkify }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th scope="row">{% trans "Use Inline Signing" %}</th>
                        <td>{% checkmark object.inline_signing %}</td>
                    </tr>
                    {% if object.tenant %}
                    <tr>
                        <th scope="row">{% trans "Tenant" %}</th>
                        <td>
                            {% if object.tenant.group %}
                                {{ object.tenant.group|linkify }} /
                            {% endif %}
                            {{ object.tenant|linkify|placeholder }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
        </div>
        <div class="col col-md-6">
            {% include 'inc/panels/tags.html' %}
        </div>
    </div>
{% endblock %}
