{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load perms %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col col-md-8">
        <div class="card">
            <h5 class="card-header">{% trans "Record Template" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Template Name" %}</th>
                    <td style="word-break:break-all;">{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td style="word-break:break-all;">{{ object.record_name }}</td>
                </tr>
                {% if unicode_name %}
                <tr>
                    <th scope="row">{% trans "IDN" %}</th>
                    <td style="word-break:break-all;">{{ unicode_name }}</td>
                </tr>
                {% endif %}
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td style="word-break:break-all;">{{ object.description }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Type" %}</th>
                    <td>{{ object.type }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Value" %}</th>
                    <td style="word-break:break-all;">{{ object.value }}</td>
                </tr>
                {% if unicode_value %}
                <tr>
                    <th scope="row">{% trans "Unicode Value" %}/th>
                    <td style="word-break:break-all;">{{ unicode_value }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "TTL" %}</th>
                    <td>{{ object.ttl|placeholder }}</td>
                </tr>
                {% if object.type == 'A' or object.type == 'AAAA' %}
                <tr>
                    <th scope="row">{% trans "Disable PTR" %}</th>
                    <td>{% checkmark object.disable_ptr %}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Status" %}</th>
                    <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
                </tr>
            </table>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-4">
        {% include 'inc/panels/tags.html' %}
    </div>
    {% if zone_template_table %}
        <div class="col col-md-12">
            <div class="card">
                {% if zone_template_table.rows|length == 1 %}
                    <h2 class="card-header">{% trans "Zone Template" %}</h2>
                {% else %}
                    <h2 class="card-header">{% trans "Zone Templates" %}</h2>
                {% endif %}
                <div class="table-responsive">
                    {% render_table zone_template_table 'inc/table.html' %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
