{% extends 'generic/object.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">{% trans "Registration Contact" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Name" %}</th>
                        <td>{{ object.name }}</td>
                    </tr>
                     {% if object.description %}
                    <tr>
                        <th scope="row">{% trans "Description" %}</th>
                        <td style="word-break:break-all;">{{ object.description }}</td>
                    </tr>
                    {% endif %}
                   <tr>
                        <th scope="row">{% trans "Contact ID" %}</th>
                        <td>{{ object.contact_id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Organization" %}</th>
                        <td>{{ object.organization }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Street" %}</th>
                        <td>{{ object.street }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "City" %}</th>
                        <td>{{ object.city }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "State/Province" %}</th>
                        <td>{{ object.state_province }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Postal Code" %}</th>
                        <td>{{ object.postal_code }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Country" %}</th>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Phone" %}</th>
                        <td>{{ object.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Phone Extension" %}</th>
                        <td>{{ object.phone_ext }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Fax" %}</th>
                        <td>{{ object.fax }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Fax Extension" %}</th>
                        <td>{{ object.fax_ext }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Email" %}</th>
                        <td>{{ object.email }}</td>
                    </tr>
                </table>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
        </div>
        <div class="col col-md-6">
            {% include 'inc/panels/tags.html' %}
        </div>
    </div>
{% endblock %}
