{% extends 'generic/object.html' %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">View</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Default View</th>
                        <td>{% checkmark object.default_view %}</td>
                    </tr>
                    {% if object.description %}
                    <tr>
                        <th scope="row">Description</th>
                        <td style="word-break:break-all;">{{ object.description }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Tenant</th>
                        <td>
                            {% if object.tenant.group %}
                                {{ object.tenant.group|linkify }} /
                            {% endif %}
                            {{ object.tenant|linkify|placeholder }}
                        </td>
                    </tr>
                </table>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
        </div>
        <div class="col col-md-6">
            {% include 'inc/panels/tags.html' %}
            {% if not settings.PLUGINS_CONFIG.netbox_dns.dnssync_disabled %}
            <div class="card">
                <h5 class="card-header">
                    IPAM Prefixes
                </h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        {% if object.prefixes.exists %}
                        {% for prefix in object.prefixes.all %}
                        <tr>
                            <td>
                                {{ prefix|linkify }}
                            </td>
                            {% if prefix.vrf %}
                            <td>
                                {{ prefix.vrf|linkify }}
                            </td>
                            {% else %}
                            <td>Global</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                            <span class="text-muted">No prefixes assigned</span>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    IP Address Filters
                </h5>
                <div class="card-body">
                    {% if object.ip_address_filter %}
                        <pre>{{ object.ip_address_filter|json }}</pre>
                    {% else %}
                        <span class="text-muted">No filters defined</span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
