{% extends 'netbox_dns/zone/base.html' %}
{% load helpers %}
{% load i18n %}
{% load netbox_dns %}
{% load tz %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Zone" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                {% if unicode_name %}
                    <tr>
                        <th scope="row">{% trans "IDN" %}</th>
                        <td>{{ unicode_name }}</td>
                    </tr>
                {% endif %}
                {% if parent_zone %}
                    <tr>
                        <th scope="row">{% trans "Parent Zone" %}</th>
                        <td>{{ parent_zone|linkify }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "View" %}</th>
                    <td>{{ object.view|linkify }}</td>
                </tr>
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td style="word-break:break-all;">{{ object.description }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Status" %}</th>
                    <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Nameservers" %}</th>
                    <td>
                        <table>
                            {% for nameserver in object.nameservers.all %}
                            <tr><td>{{ nameserver|linkify }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                {% if nameserver_warnings %}
                <tr>
                    <th class="text-warning" scope="row">{% trans "Warnings" %}</th>
                    <td>
                        <table>
                            {% for warning in nameserver_warnings %}
                            <tr>
                                <td class="text-warning">{{ warning }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% if nameserver_errors %}
                <tr>
                    <th class="text-danger" scope="row">{% trans "Errors" %}</th>
                    <td>
                        <table>
                            {% for error in nameserver_errors %}
                            <tr>
                                <td class="text-danger">{{ error }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endif %}
                </tr>
                <tr>
                    <th scope="row">{% trans "Default TTL" %}</th>
                    <td>{{ object.default_ttl }}</td>
                </tr>
            </table>
        </div>

        {% if object.dnssec_policy %}
            <div class="card">
                <h5 class="card-header">{% trans "DNSSEC" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Policy" %}</th>
                        <td>{{ object.dnssec_policy|linkify }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Use Inline Signing" %}</th>
                        <td>{% checkmark object.inline_signing %}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Parental Agents" %}</th>
                        <td>
                            <table>
                                {% for parental_agent in object.parental_agents %}
                                <tr><td>{{ parental_agent }}</td></tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Zone SOA" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "TTL" %}</th>
                    <td>{{ object.soa_ttl }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "MName" %}</th>
                    <td>{{ object.soa_mname|linkify }}</td>
                </tr>
                {% if mname_warning %}
                <tr>
                    <th class="text-warning" scope="row">{% trans "Warning" %}</th>
                    <td class="text-warning">{{ mname_warning }}</td>
                </tr>
                {% endif %}

                <tr>
                    <th scope="row">{% trans "RName" %}</th>
                    <td>{{ object.soa_rname }}</td>
                </tr>
                {% if object.soa_serial_auto %}
                <tr>
                    <th scope="row">{% trans "Serial (auto-generated)" %}</th>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td>{{ object.soa_serial }}</td>
                                <td align="right" class="text-muted">{{ object.soa_serial|epoch_to_utc|isodatetime }}</td>
                           </tr>
                       </table>
                   </td>
                </tr>
                {% else %}
                <tr>
                    <th scope="row">{% trans "Serial" context "SOA" %}</th>
                    <td>{{ object.soa_serial }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Refresh" %}</th>
                    <td>{{ object.soa_refresh }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Retry" %}</th>
                    <td>{{ object.soa_retry }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Expire" %}</th>
                    <td>{{ object.soa_expire }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Minimum TTL" %}</th>
                    <td>{{ object.soa_minimum }}</td>
                </tr>
            </table>
        </div>
        {% if object.rfc2317_prefix %}
        <div class="card">
            <h5 class="card-header">{% trans "RFC2317" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Prefix" %}</th>
                    <td>{{ object.rfc2317_prefix }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Parent Managed" %}</th>
                    <td>{% checkmark object.rfc2317_parent_managed %}</td>
                </tr>
                {% if object.rfc2317_parent_managed %}
                <tr>
                    <th scope="row">{% trans "Parent Zone" %}</th>
                    <td>{{ object.rfc2317_parent_zone|linkify }}</td>
                </tr>
                {% endif %}
            </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
