{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load perms %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Zone Template" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td style="word-break:break-all;">{{ object.description }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Nameservers" %}</th>
                    <td>
                        <table>
                            {% for nameserver in object.nameservers.all %}
                            <tr><td>{{ nameserver|linkify }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans "SOA MName" %}</th>
                    <td>{{ object.soa_mname|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "SOA RName" %}</th>
                    <td>{{ object.soa_rname }}</td>
                </tr>
            </table>
        </div>

        {% if object.dnssec_policy %}
            <div class="card">
                <h5 class="card-header">{% trans "DNSSEC" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Policy" %}</th>
                        <td>{{ object.dnssec_policy|linkify }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Domain Registration" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Registrar" %}</th>
                    <td>{{ object.registrar|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Registrant" %}</th>
                    <td>{{ object.registrant|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Administrative Contact" %}</th>
                    <td>{{ object.admin_c|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Technical Contact" %}</th>
                    <td>{{ object.tech_c|linkify|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Billing Contact" %}</th>
                    <td>{{ object.billing_c|linkify|placeholder }}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    {% if record_template_table %}
        <div class="col col-md-12">
            <div class="card">
                {% if record_template_table.rows|length == 1 %}
                    <h2 class="card-header">{% trans "Record Template" %}</h2>
                {% else %}
                    <h2 class="card-header">{% trans "Record Templates" %}</h2>
                {% endif %}
                <div class="table-responsive">
                    {% render_table record_template_table 'inc/table.html' %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
