name: Lint

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code
            uses: actions/checkout@main

          - name: Check conformance to Black standards
            uses: psf/black@e015af4a681dd2ac847188b13a81dc4a573d4dcb
            with:
                options: "--check"
                src: "netbox_dns"

          - name: Check conformance to Ruff standards
            uses: astral-sh/ruff-action@6576144cee480b9d2fc567667a9868f2c3725d1b
            with:
                version: "latest"
